@import 'fonts.css';

.title_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'LogoMain';
}

.logo_wrapper{
    font-weight: 400;
    font-size: xx-large;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-weight: 400;
    position: relative;
    font-size: xx-large;
    width: max-content;
}
.recipe{
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: medium;
    font-family: 'Logo';
}


.category_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Main';
}
.category_box{
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_wrapper{
    background-color: rgb(224, 224, 224);
    height: 40px;
    width:140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_wrapper select{
    border: none;
    background:transparent;
    outline: none;
    font-family: 'Main';
}
.select_wrapper select:focus{
    border: none;
    outline: none;
}
.input_wrapper{
    height: 40px;
    width: 300px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.input_wrapper input{
    border: none;
    background:transparent;
    outline: none;
    width: 100%;
    font-family: 'Main';
}

.search_wrapper{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feeb6f;
    height: 50px;
    width: 50px;
}


.right_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
    font-family: 'Main';
}
.favourite_wrapper{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
    font-family: 'Main';
}
.favourite_wrapper button{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-family: 'Main';
    font-size: medium;
    gap: 5px;
}
.favourite_wrapper button:focus{
    background: transparent;
    border: none;
    outline: none;
}
.cart_wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3px;
    white-space: nowrap;
    padding: 8px;
    font-size: medium;
}
















.listing_wrapper{
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.filter_wrapper{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.card_wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    gap: 20px;
}

.card_mainwrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
}