@import 'fonts.module.css';

.title_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'LogoMain';
}

.logo_wrapper{
    font-weight: 400;
    font-size: xx-large;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-weight: 400;
    position: relative;
    font-size: xx-large;
    width: max-content;
}
.recipe{
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: medium;
    font-family: 'Logo';
}


.category_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Main';
}
.category_box{
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_wrapper{
    background-color: rgb(224, 224, 224);
    height: 40px;
    width:140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_wrapper select{
    border: none;
    background:transparent;
    outline: none;
    font-family: 'Main';
}
.select_wrapper select:focus{
    border: none;
    outline: none;
}
.input_wrapper{
    height: 40px;
    width: 300px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.input_wrapper input{
    border: none;
    background:transparent;
    outline: none;
    width: 100%;
    font-family: 'Main';
}

.search_wrapper{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feeb6f;
    height: 50px;
    width: 50px;
}


.right_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
    font-family: 'Main';
}
.favourite_wrapper{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
    font-family: 'Main';
}
.favourite_wrapper button{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-family: 'Main';
    font-size: medium;
    gap: 5px;
}
.favourite_wrapper button:focus{
    background: transparent;
    border: none;
    outline: none;
}
.cart_wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3px;
    white-space: nowrap;
    padding: 8px;
    font-size: medium;
}
















.listing_wrapper{
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.filter_wrapper{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.card_wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-content: flex-start;
    gap: 20px;
}

.card_mainwrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
}


.overlay_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 6ch; */
}

.overlay_top{
    width: 60ch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4ch;
}
.add_to_cart{
    width: 100%;
    text-align: left;
    font-size: large;
    font-weight: 900;
    /* font-family: "Main"; */
    border-bottom: 2px solid rgb(170, 169, 169);
}
.overlay_cartlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Main';
}
.overlay_cartitem{
    font-weight: 800;
}
.overlay_cartitemprice{
    color: green;
    font-weight: 800;
}
.overlay_cartitemcount{
    display: flex;
    align-items: center;
    gap: 8px;
}
.overlay_cartitemcount button{
    border-radius: 5px;
    font-size: medium;
    font-weight: bolder;
    height: 30px;
    width: 30px;
    font-family: 'Main';
    cursor: pointer;
}
.minus_button{
    background: transparent;
    border: 2px solid green;
    color: green;
}
.minus_button:disabled{
    background: rgb(220, 220, 220);
    border: none;
    color: grey;
    cursor: not-allowed;
}
.add_button{
    background-color: green;
    color: white;
    border: none;
}
.overlay_cart_totalprice_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-family: "Main";
    font-weight:900
}
.overlay_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5ch;
}
.close_button{
    padding: 1ch 2ch;
    border-radius: 1ch;
    border: 2px solid grey;
    background:  rgb(245, 245, 245);
    cursor: pointer;
}
.add_to_button{
    background: green;
    font-weight: 800;
    color:white;
    padding: 1ch 2ch;
    border-radius: 1ch;
    cursor: pointer;
}
.overlay_cartListFlex{
    display: flex;
    align-items: center;
    gap: 2ch;
}
.remove_button{
    border: none;
    background: rgb(255, 136, 136);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: x-small;
    padding: 4px 8px;
    font-family: 'Main';
    cursor: pointer;
}